.deliveryForm {
	max-width: 600px;
	margin: 0 auto;
}

.deliveryBtn {
	width: 100%;
	padding: 8px 16px;
	border-radius: 8px;
	text-align: center;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.deliveryBtn:hover {
    scale: 1.03;

}
.deliveryBtn:first-child {
	background-color: rgb(0, 204, 0);
	margin-bottom: 10px;
}
.deliveryBtn:last-child {
    background-color: black;
}
