.delivery {
	height: 100%;
	position: absolute;
	left: 100%;
	top: 0px;
	width: 80%;
	transition: 0.7s ease-in-out;
	margin: 0 auto;
}
.delivery h1 {
	max-width: 600px;
	margin: 0 auto;
	margin-bottom: 24px;
	text-align: center;
}
.showDeliveryModal {
	left: 0px;
	position: relative;
	transition: 0.7s ease-in-out;
	transition-delay: 0.3s;
}

input {
	background-color: white;
}
