.delivery {
	height: 100%;
	position: absolute;
	left: 100%;
	top: 0px;
	width: 80%;
	transition: 0.7s ease-in-out;
}

.showDeliveryModal {
	left: 0px;
	position: relative;
	transition: 0.7s ease-in-out;
	transition-delay: 0.3s;
}

input {
	background-color: white;
}

