.nav__wrapper {
    width: 20%;
}
.nav {
    /* height: calc(100vh - 112px); */
    /* height: 100vh; */
}
.container {
    padding: 8px;
    position: absolute;
    left: -50px;
    width: 34px;
    height: 25px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.lineTop,
.lineBottom {
    height: 2px;
    background-color: black;
    display: block;
    width: 20px;
    border-radius: 10px;
    margin: 0 auto;
    position: absolute;
    /* transform: rotate(0deg); */
    transition: all 0.4s;
}
.lineTop {
    top: 19px;
}

.lineBottom {
    bottom: 19px;
}
.spinTop {
    top: 12px;
    transform: rotate(135deg);
    /* background-color: #fff; */
}

.spinBottom {
    top: 12px;
    transform: rotate(225deg);
}

.nav__open {
    left: 0px !important;
}

.overlay {
}
@media (max-width: 950px) {
    .nav__wrapper {
        width: 0%;
    }

    :global(.ant-menu) {
        position: absolute;
        left: -235px;
        z-index: 100;
        transition: 0.2s ease-in-out;
        width: 23%;
        /* border-color: #fff; */
        border-right: unset !important; 
    }

    .container {
        position: relative;
        left: 0;
    }

    .nav {
        /* height: 100%; */
    }
}

@media (max-height: 246px) {
    .nav {
        /* height: 100%; */
    }
}
