.nav {
    width: 20%;
    border-right: 1px solid rgb(232, 226, 226);
    margin-bottom: 5px;
}
.navToggle {
    background-color: white !important;
    left: 0 !important;
}
.menuToggle {
    position: sticky;
    top: 0;
    left: -100%;
    z-index: 1000;
}

:global(.ant-menu) {
    width: 100%;
}

.container {
    padding: 8px;
    position: absolute;
    left: -100%;
    width: 34px;
    height: 25px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.lineTop,
.lineBottom {
    height: 2px;
    background-color: black;
    display: block;
    width: 20px;
    border-radius: 10px;
    margin: 0 auto;
    position: absolute;
    transition: all 0.4s;
}

.lineTop {
    top: 19px;
}

.lineBottom {
    bottom: 19px;
}

.spinTop {
    top: 12px;
    transform: rotate(135deg);
}

.spinBottom {
    top: 12px;
    transform: rotate(225deg);
}

.navOpen {
    left: 0px !important;
}

@media (max-width: 950px) {
    .nav {
        width: 0%;
    }
    .navMenuWrapper {
        position: absolute;
        height: calc(100% - 25px);
        left: -100%;
        background-color: transparent;
        transition: 0.2s ease-in-out;
        z-index: 500;
        width: 28%;
    }
    .menuToggle {
        left: 0;
    }

    :global(.ant-menu) {
        position: sticky;
        top: 20px;
        left: -100%;
        z-index: 100;
        transition: 0.2s ease-in-out;
        width: 35%;
        border-right: unset !important;
        width: 100%;
    }

    .container {
        position: relative;
        left: 0;
    }
}
@media (max-width: 768px) {
    .navMenuWrapper {
        width: 40%;
    }

}

@media (max-width: 450px) {
    .navMenuWrapper {
        width: 100%;
    }
}
