.home {
    /* background-color: #0393bf; */
    background: rgb(0, 106, 160);
    background: linear-gradient(
        90deg,
        rgba(0, 106, 160, 1) 0%,
        rgba(27, 224, 251, 1) 95%
    );
    height: 100%;
    color: white;
}

.heading {
    text-align: center;
    padding-top: 20px;
    font-size: 40px;
    font-family: fantasy;
    font-weight: 900;
}
.information__container {
    padding: 25px 0 70px 50px;
    margin-bottom: 30px;
}

.information__heading_container {
    display: flex;
    justify-content: flex-start;
    gap: 6px;
}

h1 {
    font-size: 28px;
    margin-bottom: 5px;
}

h2 {
    font-size: 23px;
    margin-bottom: 20px;
    color: #53ffae;
}
h3 {
    font-size: 20px;
    color: #53ffae;
}
.home span {
    color: #53ffae;
}
.home .heading .first {
    color: #69009f;
}
.home .heading .second {
    color: #53ffae;
}
.home .heading .third {
    color: #ff9900;
}
.home .heading .fourth {
    color: #d11394;
}
.description__container {
    width: 40%;
}
.description {
    margin: 0 0 20px 18px;
}
.features {
    margin-bottom: 20px;
}

.features li {
    margin-left: 10px;
}
.framerMotion__container {
    overflow: hidden;
}
.img__container {
    display: flex;
    justify-content: space-around;
}
.img__wrapper {
    width: 40%;
}
.img__left {
}
.img__right {
    height: 100%;
    object-fit: cover;
}

@media (max-height: 1015px) {
    .information__container {
        margin: unset;
        padding: 33px 0 30px 50px;
    }
}
@media (max-height: 970px) {
    .information__container {
        padding: 25px 0 25px 50px;
    }
}

@media (max-height: 940px) {
    .img__wrapper {
        width: 34%;
    }
}
@media (max-height: 880px) {
    .information__container {
        padding: 30px 0 30px 40px;
    }
    .img__wrapper {
        width: 33%;
    }
}
