.home {
    /* background-color: #0393bf; */
    background: rgb(0, 106, 160);
    background: linear-gradient(
        90deg,
        rgba(0, 106, 160, 1) 0%,
        rgba(27, 224, 251, 1) 95%
    );
    height: 100%;
    color: white;
}

.heading {
    text-align: center;
    padding-top: 20px;
    font-size: 40px;
    font-family: fantasy;
    font-weight: 900;
}
.information__container {
    padding: 25px 0 50px 50px;
    margin-bottom: 30px;
}

.information__heading_container {
    display: flex;
    justify-content: flex-start;
    gap: 6px;
}

h1 {
    font-size: 28px;
    margin-bottom: 5px;
}

h2 {
    font-size: 23px;
    margin-bottom: 20px;
    color: #53ffae;
}
h3 {
    font-size: 20px;
    color: #53ffae;
}

.description__container {
    width: 40%;
}
.description {
    margin: 0 0 20px 18px;
}
.features {
    margin-bottom: 20px;
}

.features li {
    margin-left: 10px;
}
.framerMotion__container {
    overflow: hidden;
    margin-bottom: 71px;
}
.img__container {
    display: flex;
    justify-content: space-around;
}
.img__wrapper {
    width: 40%;
}

.img__right {
    height: 100%;
    object-fit: cover;
}

.home span {
    color: #53ffae;
}
.home .heading .first {
    color: #69009f;
}
.home .heading .second {
    color: #53ffae;
}
.home .heading .third {
    color: #ff9900;
}
.home .heading .fourth {
    color: #d11394;
}
/* 1600x900 */
@media (max-width: 1600px) and (max-height: 900px) {
    .information__container {
        padding: 25px 0 35px 35px;
        margin: unset;
    }

    .framerMotion__container {
        margin-bottom: 30px;
    }
    .img__wrapper {
        width: 37%;
    }
}
/* 1536 x 900 */
@media (max-width: 1536px) {
    .description__container {
        width: 53%;
    }
}

@media (max-width: 1440px) {
    .information__container {
        margin-bottom: unset;
    }
    .description__container {
        width: 60%;
    }
    .img__container {
        padding: 0px 50px 0px 50px;
        justify-content: space-between;
    }
    .img__wrapper {
        width: 45%;
    }
}
@media (max-width: 1366px) and (min-height: 1023px) {
    .information__container {
        padding: 38px 0 50px 35px;
    }
    .img__wrapper {
        width: 49%;
    }
}

@media (max-width: 1366px) and (max-height: 768px) {
    .information__container {
        padding: 0 0 25px 35px;
    }
    .img__wrapper {
        width: 40%;
    }
    h1 {
        font-size: 24px;
    }
    h2 {
        font-size: 19px;
        margin-bottom: 10px;
    }
    h3 {
        font-size: 18px;
    }

    .description {
        font-size: 15px !important;
        margin: 0 0 12px 18px;
    }
    .features {
        margin-bottom: 12px;
    }

    li {
        font-size: 15px;
    }
    p,
    a {
        font-size: 15px;
    }
}
@media (max-width: 1280px) and (min-height: 1023px) {
    .description__container {
        width: 47%;
    }
    .img__wrapper {
        width: 49%;
    }
}
@media (max-width: 1280px) and (max-height: 835px) {
    .img__wrapper {
        width: 40%;
    }
}
@media (max-width: 1280px) and (max-height: 720px) {
    .description__container {
        width: 77%;
    }
    .information__container {
        padding: 0px 0 35px 35px;
        margin: unset;
    }
}
@media (max-width: 1112px) {
    .description__container {
        width: 77%;
    }
    .img__wrapper {
        width: 47%;
    }
}
@media (max-width: 1024px) {
    .information__container {
        padding: 0px 0 25px 25px;
    }
    .description__container {
        width: 85%;
    }
    .framerMotion__container {
        margin-bottom: 20px;
    }
    .img__container {
        padding: 0px 25px 0px 25px;
        flex-direction: column;
    }
    .img__wrapper {
        position: relative;
        width: 100%;
        height: 26.5vh;
    }
    .img__wrapper:first-child {
        margin-bottom: 50px;
    }
    .img__wrapper img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
}

@media (max-width: 768px) {
    .img__wrapper {
        height: 21.5vh;
    }
}

@media (max-width: 425px) {
    .heading {
        font-size: 26px;
    }
    .img__wrapper {
        height: 21.5vh;
    }
    h1,
    h2 {
        font-size: 22px;
    }
}
@media (max-width: 375px) {
    .heading {
        font-size: 23px;
    }
    .img__wrapper {
        height: 21.5vh;
    }
    h1,
    h2 {
        font-size: 20px;
    }
}
