.productsList {
	display: flex;
	flex-wrap: wrap;
	column-gap: 20px;
	row-gap: 31px;
	justify-content: flex-start;
	margin-bottom: 15px;
}

.pagination {
    justify-content: center;
}

:global(.ant-carousel) {
	width: 30%;
}

@media (max-width: 1300px) {
	.productsList {
		gap: 15px;
	}
}

@media (max-width: 1112px) {
	:global(.ant-carousel) {
		width: 40%;
	}

	.productsList {
		position: relative;
		left: 7%;
	}
}

@media (max-width: 768px) {
	:global(.ant-carousel) {
		width: 45%;
	}

	.productsList {
		left: 3%;
	}
}

@media (max-width: 576px) {
	:global(.ant-carousel) {
		width: 90%;
	}

    .productsList {
		left: 4%;
	}
}

@media (max-width: 410px) {
	:global(.ant-carousel) {
		width: 80%;
	}

    .productsList {
		left: 10%;
	}
}
