.ourProducts {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 31px;
        justify-content: center;

}

:global(.ant-carousel) {
    width: 30%;
}

@media (max-width: 1600px) {
    .ourProducts {
        gap: 10px;
    }
}

@media (max-width: 1112px) {
    :global(.ant-carousel) {
        width: 31%;
    }
}

@media screen and (min-height: 1180px) {
    .ourProducts {
        row-gap: 60px;
    }
}
@media screen and (min-height: 1366px) {
    .ourProducts {
        height: 89vh;
    }
}
@media (max-width: 768px) {
    .ourProducts {
        justify-content: flex-start;
        padding-left: 30px;
    }
    :global(.ant-carousel) {
        width: 45%;
    }
}
@media (max-width: 576px) {
    :global(.ant-carousel) {
        width: 90%;
    }
}

@media (max-width: 450px) {
    :global(.ant-carousel) {
        width: 90%;
    }
}
