@keyframes scalingIcon {
	from {
		scale: 0;
		opacity: 0;
	}
	to {
		scale: 1;
		opacity: 1;
	}
}

.shoppingCart {
	/* Center shopping cart empty icon */
	height: 100%;
}

/* Empty cart layout css */
.emptyCardLayout {
	display: flex;
	align-items: center;
	justify-content: center;
}
.iconContainer {
	border-radius: 100%;
	width: 30%;
	border: 1px solid white;
	text-align: center;
	padding: 15px;
	background-color: rgb(4 165 206);
	animation-name: scalingIcon;
	animation-duration: 1s;
}
.innerIconContainer {
	padding: 80px 0 80px 0;
	border-radius: 100%;
	border: 3px solid white;
}
.heading {
	color: gray;
	font-weight: 900;
	color: white;
	font-size: 24px;
}
.icon {
	color: gray;
	font-size: 100px;
	color: white;
}

/* Cart with products layout css */
.heading {
	color: black;
	text-align: center;
}
.table {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-bottom: 40px;
}

.container {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.container li {
	font-weight: 600;
}
.container li:first-child {
	width: 42%;
}
.productCards {
}
