@keyframes scalingIcon {
	from {
		scale: 0;
		opacity: 0;
	}
	to {
		scale: 1;
		opacity: 1;
	}
}
@keyframes hideProductSection {
	from {
		right: 0px;
	}
	to {
		right: 100%;
	}
}

.cartContainer {
	height: 100%;
	position: relative;
}

.shoppingCart {
	height: 100%;
	position: relative;
}

.hideProductSection {
	position: absolute;
	animation: hideProductSection;
	animation-duration: 0.7s;
	width: 98%;
	right: 100%;
	padding-right: 50px;
}
.showProductSection {
	right: 0px;
	transition: 0.7s ease-in-out;
	transition-delay: 0.3s;
}
/* Empty cart layout css */
.emptyCardLayout {
	display: flex;
	align-items: center;
	justify-content: center;
}
.iconContainer {
	border-radius: 100%;
	width: 30%;
	border: 1px solid white;
	text-align: center;
	padding: 15px;
	background-color: rgb(4 165 206);
	animation-name: scalingIcon;
	animation-duration: 1s;
}
.innerIconContainer {
	padding: 80px 0 80px 0;
	border-radius: 100%;
	border: 3px solid white;
}
.heading {
	color: gray;
	font-weight: 900;
	color: white;
	font-size: 24px;
	margin-bottom: 25px;
}
.icon {
	color: gray;
	font-size: 100px;
	color: white;
}

/* Cart with products layout css */
.heading {
	color: black;
	text-align: center;
}
.table {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-bottom: 20px;
}

.container {
	width: 100%;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid rgb(231, 229, 229);
	padding-bottom: 20px;
}
.container li {
	font-weight: 600;
}
.container li:first-child {
	width: 42%;
}
.productCards {
	border-bottom: 1px solid rgb(231, 229, 229);
	margin-bottom: 20px;
}

.checkOutContainer {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.checkOutContainer .description {
	width: 40%;
}
.description p {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}
.shippingTaxContainer {
	position: relative;
	overflow: hidden;
}

.description .shippingTax {
	font-weight: 600;
}
.crossLine {
	height: 2px;
	width: 100%;
	background-color: black;
	position: absolute;
	top: 8px;
	right: 700px;
	transition: 0.3s ease-in-out;
}
.showLine {
	right: 0;
	transition: 0.3s ease-in-out;
}
.description .salesTax {
	font-weight: 600;
	border-bottom: 1px solid rgb(231, 229, 229);
	padding-bottom: 20px;
}
.description .grandTotalPrice {
	font-weight: 600;
}
.description .grandTotalPrice span {
	font-size: 30px;
	font-weight: 400;
}

.message {
	width: 23%;
	display: flex;
	align-items: flex-start;
}
.message span {
	font-weight: 600;
}
.carIcon {
	font-size: 24px;
}
.progressContainer {
	width: 23%;
}
.checkOutBtn {
	width: 23%;
	text-align: center;
	background-color: black;
	color: white;
	padding: 10px 17px 10px 20px;
	cursor: pointer;
}
@media (max-width: 1366px) {
	.innerIconContainer {
		padding: 57px 20px 57px 20px;
	}
}

@media (max-width: 1280px) {
	.iconContainer {
		width: 35%;
	}
	.innerIconContainer {
		padding: 72px 20px 65px 20px;
	}
}

@media (max-width: 1024px) {
	.iconContainer {
		width: 44%;
	}
}
@media (max-width: 950px) {
	.iconContainer {
		width: 39%;
	}
}

@media (max-width: 768px) {
	.iconContainer {
		width: 52%;
	}

	.checkOutContainer .description {
		width: 46%;
	}

	.message,
	.progressContainer,
	.checkOutBtn {
		width: 31%;
	}
}
@media (max-width: 576px) {
	.iconContainer {
		width: 70%;
	}
	.innerIconContainer {
		padding: 80px 26px 80px 20px;
	}
	.checkOutContainer .description {
		width: 56%;
	}
	.message,
	.progressContainer,
	.checkOutBtn {
		width: 41%;
	}
}
@media (max-width: 450px) {
	.container {
		padding: 0 10px 0 10px;
	}
	.checkOutContainer .description {
		width: 100%;
	}
	.iconContainer {
		width: 92%;
	}
	.message,
	.progressContainer,
	.checkOutBtn {
		width: 100%;
	}
}
@media (max-width: 425px) {
	.productCards {
		padding: 0 10px 0 10px;
	}
	.checkOutContainer {
		padding: 0 10px 0 10px;
	}
}
